@model ShipmentTransitModel

@{
    const string hideInfoBlockAttributeName = "ShipmentTransitModelPage.HideInfo";
}

<div asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden" />

<section class="content">
    <div class="container-fluid">
        <div class="form-horizontal">
            <nop-cards id="shipment-transit-cards">
                <nop-card asp-name="shipment-transit-info"
                          asp-icon="fas fa-info"
                          asp-title="ShipmentTransitModel Info"
                          asp-hide-block-attribute-name="@hideInfoBlockAttributeName"
                          asp-hide="false"
                          asp-advanced="false">

                    @await Html.PartialAsync("~/Plugins/Misc.CountingSequence/Views/ShipmentTransit/_CreateOrUpdate.Info.cshtml", Model)
                </nop-card>
            </nop-cards>
        </div>
    </div>
</section>


