@model ShipmentDispatchModel

<form asp-action="@(Model.Id == 0 ? "Create" : "Edit")" method="post" onsubmit="return saveShipmentDispatch(this);">
    <div class="modal-header">
        <h5 class="modal-title">
            @(Model.Id == 0 ? "Create Shipment Dispatch" : "Edit Shipment Dispatch")
        </h5>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body">
        <input asp-for="Id" type="hidden" />
        <div class="form-group row">
            <div class="col-md-3">
                <nop-label asp-for="Name" />
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="Name" />
                <span asp-validation-for="Name"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3">
                <nop-label asp-for="ShippedMonth" />
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="ShippedMonth" />
                <span asp-validation-for="ShippedMonth"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3">
                <nop-label asp-for="ShippedYear" />
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="ShippedYear" />
                <span asp-validation-for="ShippedYear"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-3">
                <nop-label asp-for="DispatchType" />
            </div>
            <div class="col-md-9">
                <nop-select asp-for="DispatchType"
                            asp-items="Model.AvailableDispatchTypes" />
                <span asp-validation-for="DispatchType"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-3">
                <nop-label asp-for="DisplayOrder" />
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="DisplayOrder" />
                <span asp-validation-for="DisplayOrder"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-3">
                <nop-label asp-for="Visible" />
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="Visible" />
                <span asp-validation-for="Visible"></span>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">
            @T("Admin.Common.Save")
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
            @T("Admin.Common.Cancel")
        </button>
    </div>
</form>